version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: api.dockerfile
    container_name: api
    ports:
      - "8080:8080"
    environment:
      - DOCKER=true  
      - DB_URL=${DB_URL}  
    restart: unless-stopped

  client:
    build:
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL}
      context: .
      dockerfile: client.dockerfile
    container_name: client
    ports:
      - "3000:3000"   # host:container mapping
    depends_on:
      - api
    environment:
      # Frontend uses this to know where API is in Docker
      - VITE_API_BASE_URL=${VITE_API_BASE_URL}
    restart: unless-stopped
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5435:5432"
    volumes:
      # Mounts your local schema file to the auto-run directory
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5